@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 10s linear infinite;
}

/* the hero css */
.circular-hero {
  filter: invert(1) brightness(0) saturate(100%) !important;
  transition: transform 0.5s;
}

.circular-hero:hover {
  transform: rotate(90deg);
}

@media (min-width: 768px) {
  .work-line {
    right: 150px !important; /* Adjusted for larger screens */
  }
}

@media (max-width: 767px) {
  .AgriDome {
    width: 35vh !important;
  }
}
@media (max-width: 320px) {
  .AgriDome {
    width: 38vh !important;
  }
}

/* kugilefont */

@font-face {
  font-family: 'Kugile';
  src: url('/my-app/public/KugileFont/Kugile_Demo.ttf') format('truetype'); /* Adjust the path if necessary */
 
}





